.likedProducts{
  display: flex;
  align-items: center;
  gap:40px;
  flex-wrap: wrap;  
}
.likedProducts h1{
  font-size: 90px;
  color: #aaa;
  letter-spacing: 2px;
  word-spacing: 5px;
  margin: 200px auto;
  opacity: 0.7;
}
.likedProducts-btn{
  width:120px;
  height: 45px;
  background: #0A1929;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin-top: 70px;
}