.corusel2{
width: 100%;
padding-left: 50px;

}

.slick-next,
.slick-prev{
  width: 70px !important;
  height: 70px !important;
  border-radius: 50%;
}
.slick-next{
  margin-right: 100px !important;

}
.slick-prev{
  margin-left: 50px;
  z-index: 100;
}
.slick-next::after,
.slick-prev::after{
  font-weight: 100 !important;
  font-size: 40px !important;
  
}
.slick-prev::before,
.slick-next::before{
  /* color: rgba(255, 255, 255, 0.5) !important; */
  opacity: 1 !important;
  font-size: 45px !important;
  font-weight: 200 !important;
  color: rgba(0, 0, 0, 0.5) !important;


}
.slick-next::before{
  z-index: 100;
}
.slick-prev::before{
  z-index: 100;
}

