.rest{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.rest-cards{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.prev-btn{
  width: 130px;
  background: #1c243c ;
  border: 2px solid #787878;
  outline: none;
  padding: 10px 20px;
  font-size: 21px;
  font-weight: 500;
  margin: 50px auto;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1.8px;
}
.prev-btn:hover{
  background: #394567;
}
