.img-container{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:60px;
  position: relative;
}
.reklama{
  width: 90%;
  height: 435px;
  margin-top: 112px;
  background-repeat: no-repeat;
  margin-bottom: 100px;   
  object-fit:cover;
}
.reklama-text{
position: absolute;
z-index: 100;
right: 100px;
}

.reklama-text p{
  font-size: 40px;
  color: #fff;
  letter-spacing: 2px;
}